/*
 * This is a manifest file that'll be compiled into application.css, which will include all the attachments
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * attachments in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.notice,
.error,
.information,
.warning {
    font-weight: lighter;
}

.notice {
    color: #11bb00;
}

.error {
    color: #f53a31;
}

.information {
    color: #557;
}

.warning {
    color: #d07d2d;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

.delete_link {
    border-style: solid;
    border-color: red;
    border-width: thin;
}

/* direct_uploads.css */

.direct-upload {
    display: inline-block;
    position: relative;
    padding: 2px 4px;
    margin: 0 3px 3px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 11px;
    line-height: 13px;
}

.direct-upload--pending {
    opacity: 0.6;
}

.direct-upload__progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.2;
    background: #0076ff;
    transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
    transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
    opacity: 0.4;
}

.direct-upload--error {
    border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
    display: none;
}

.remove-link {
    dislay: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 1px 0;
    padding: 0.2em;
    color: black;
    background-color: skyblue;
}

hr {
    border-color: darkgrey;
    width: 50%;
    text-align: left;
    margin-left: 0;
}

ul {
    padding-left: 20px;
    color: #0076ff;
}

div.inline {
    float: left;
}

.votes {
    padding-bottom: 3px;
}

.hidden {
    display: none;
}
