// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table th {
  border: 1px solid blue;
  padding-bottom: 5px;
  text-align: center;
}

.table td {
  border: 1px solid blue;
  padding: 3px 5px 6px;
  vertical-align: center;
}

.table-data {
  border: 1px solid lawngreen;
  padding: 3px 3px 5px;
  vertical-align: center;
}

.table-view-f {
  border: 1px solid lawngreen !important;
  padding: 2px 5px 5px;
  width: auto;
}

.table-view-l {
  border: 1px solid deepskyblue !important;
  padding: 2px 5px 5px;
  width: auto;
}

.table-view-c {
  border: 1px solid orange !important;
  padding: 1px 1px 1px;
  width: auto;
}
