// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table th {
  border: 1px solid blue;
  padding-bottom: 15px;
  text-align: center;
}

.table td {
  border: 1px solid blue;
  padding: 5px 10px 12px;
  vertical-align: center;
}

.table-data {
  border: 1px solid lawngreen;
  padding: 5px 10px 12px;
  vertical-align: center;
}

